<div class="home-view">
    
    <div class="columns">
        <div class="column-left">
            <form class="form">
                <div class="form-row1">
                    <img src="./images/yt_icon_rgb.png" class="youtube-icon" />
                    
                    
                    <input type="text" v-model="videoLink" placeholder="Paste your YouTube Link" />
                    <button type="button" v-on:click="onSearch" >
                        <svg class="icon">
                            <use xlink:href="./../../static/sprites.svg#arrow-short-right"></use>
                        </svg>
                    </button>
                </div>
            </form>
            
            
            <div class="placeholder" v-if="!gotVideo" >
                <div class="back-ground-image" >
                    <img src="./images/yt_logo_mono_dark.png">
                </div>
                     
            
            </div>
            <iframe 
                v-if="gotVideo"
                class="iframe-styles"
                width="560" 
                height="315" 
                :src="embededLink" 
                frameborder="0" 
                allow="encrypted-media"
                allowfullscreen></iframe>
            
            
            <div class="extract" >
                <div class="placeholder" v-if="!gotVideo" >
                    <div class="placeholder-line" >
                    
                    </div>
                    <div class="placeholder-line" style="width: 400px">
                    
                    </div>
                    <div class="placeholder-line" style="width: 550px">
                    
                    </div>
                    <div class="placeholder-line" style="width: 300px" > 
                    </div>
                    <div class="placeholder-line">
                    
                    </div>
                    <div class="placeholder-line" style="width: 400px">
                    
                    </div>
                    <div class="placeholder-line" style="width: 550px">
                    
                    </div>
                    <div class="placeholder-line" style="width: 300px">
                    </div>
                </div>
                
                <div class="spinner" v-if="gotVideo && loading" >
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                
                <p class="lyrics" v-if="extractedLyrics !== null">
                    {{ extractedLyrics }}
                </p>
                
            </div>
            
            
            
            
            <!-- <div class="search-result" >
                
                <div class="search-item" >
                    <div class="video-snip" >
                    </div>
                    <div class="description" >
                        <p>name:  </p>
                        <p>author: </p>
                        <p>decription: </p>
                    </div>
                    <div class="extract-button" >
                        Extract
                    </div>
                </div>
                
            </div> -->
            
        </div>
        
        <!-- <div class="column-right">
            <div class="info-box" >
                
            </div>
            
            <div class="info-footer" >
                
            </div>

        </div> -->
        
    </div>
    
</div>