body, button, input, select, textarea {
    color: #575757;
    font-weight: 400;
    font-size: 17.6px;
    line-height: 1.7;
    // font-family: $font1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}