<div class="shell">
    <header>
        <div class="nav-container">
            <div class="nav-bar" >
                <router-link to="/home"  class="nav-item active">
                    IntelliTune
                </router-link>
                <router-link to="/home" class="nav-item">
                    Audits
                </router-link>
                <router-link to="/home" class="nav-item">
                    SongId
                </router-link>
                <router-link to="/home" class="nav-item">
                    MMS
                </router-link>
            </div>
        </div>
    </header>
    
    <main>
        <router-view></router-view>
    </main>
    
    <footer>
        <div class="footer-container">
            <p>TuneScout&trade;</p>
        </div>   
    </footer>
    
</div>